.list-group a:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.table td {
    text-align: center;
    } 

.table th {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    }  

    .table-wrapper {
        max-height: 385px;
        overflow: auto;
        display:inline-block;
      }
      /*
      .table-earnings {
        background: #FFFFFF;
      }*/

      /*.fs-2  {
        color: #ffffff;
      }*/

      table.table-fit {
        width: auto !important;
        table-layout: auto !important;
    }
    table.table-fit thead th, table.table-fit tfoot th {
        width: auto !important;
    }
    table.table-fit tbody td, table.table-fit tfoot td {
        width: auto !important;
    }

   